In [1]:
# runtime: 20 sec
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df = pd.read_csv(r'rating.csv')

In [2]:
df.head(10)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40
5       1      112     3.5  2004-09-10 03:09:00
6       1      151     4.0  2004-09-10 03:08:54
7       1      223     4.0  2005-04-02 23:46:13
8       1      253     4.0  2005-04-02 23:35:40
9       1      260     4.0  2005-04-02 23:33:46

In [3]:
len(df)

20000263

In [4]:
column = df["userId"]
max_value = column.max() 
max_value
# Output: total number of users in data frame

138493

In [5]:
# runtime: 3 sec
# choose randomly a user for whom to give recommendations
user_id = int(column.sample(1))
user_id

4655

In [6]:
# Pulling off the records of just the target user
user_df = df[df["userId"] == user_id]
user_df.head(10)
len(user_df)

173

In [7]:
# Putting the movies watched by the target user into a list
movies_watched = user_df["movieId"].tolist()
#len(movies_watched)
# Output is number of movies rated by target user
print(movies_watched[0:10])

[1, 2, 17, 19, 29, 47, 260, 293, 296, 318]

In [8]:
# Runs slow (10 seconds?)
movies_watched_df = df[df["movieId"].isin(movies_watched)]
movies_watched_df.head()
movies_watched_df.shape
# This is how many rows refer to a movie the target user watched
movies_watched_df.head(20)

    userId  movieId  rating            timestamp
0        1        2     3.5  2005-04-02 23:53:47
1        1       29     3.5  2005-04-02 23:31:16
3        1       47     3.5  2005-04-02 23:32:07
9        1      260     4.0  2005-04-02 23:33:46
10       1      293     4.0  2005-04-02 23:31:43
11       1      296     4.0  2005-04-02 23:32:47
12       1      318     4.0  2005-04-02 23:33:18
13       1      337     3.5  2004-09-10 03:08:29
17       1      593     3.5  2005-04-02 23:31:01
22       1     1036     4.0  2005-04-02 23:44:40
25       1     1089     3.5  2005-04-02 23:31:09
30       1     1196     4.5  2005-04-02 23:32:22
34       1     1208     3.5  2005-04-02 23:33:35
39       1     1222     3.5  2005-04-02 23:30:37
42       1     1246     3.5  2004-09-10 03:09:19
43       1     1249     4.0  2005-04-02 23:43:02
44       1     1258     4.0  2004-09-10 03:13:14
80       1     2291     4.0  2004-09-10 03:09:37
81       1     2542     4.0  2005-04-02 23:44:07
86       1     2683     3.5  2004-09-10 03:07:30

In [43]:
len(movies_watched)

173

In [44]:
user_movie_count = movies_watched_df.groupby(["userId"]).movieId.count()
user_movie_count.head(10)
#len(user_movie_count) # Comparing this to printout of maxvalue up above, this shows the process doesn't narrow it down much;

userId
1     41
2      7
3     20
4      3
5     14
6      5
7     36
8     11
9      8
10     9
Name: movieId, dtype: int64

In [45]:
# We will pull off only users who have rated at least this proportion of the movies the target user has rated.
m_count = 0.5*len(movies_watched)
m_count

86.5

In [46]:
user_movie_count = user_movie_count.reset_index()
user_movie_count.columns = ["userId", "movie_count"]

# Choosing 50% instead of 60% makes a huge difference in number of records that finally get through.

# choose a ratio of 0.50. User ids who watched at least 50 percent of target user's movies 
users_same_movies = user_movie_count[user_movie_count["movie_count"] > m_count].sort_values("movie_count", ascending=False)
users_same_movies.nunique()
# Output: total number of users that rated at least 50% of movies rated by target user

userId         4598
movie_count      78
dtype: int64

In [13]:
users_same_movies.head(10)

        userId  movie_count
4579      4655          173
8263      8405          167
103817  105580          166
113321  115226          163
33985    34576          163
116254  118205          163
130932  133133          161
78855    80207          161
6266      6373          160
134019  136268          159

In [14]:
similar_users = users_same_movies["userId"].tolist()
similar_users_df = df[df["userId"].isin(similar_users)]

similar_users_df.head(20)

      userId  movieId  rating            timestamp
9621      91        1     4.0  2005-03-22 22:46:02
9622      91        2     3.5  2005-03-29 01:55:58
9623      91        3     3.0  2005-03-22 22:43:12
9624      91        7     2.5  2005-07-18 08:09:11
9625      91       10     4.0  2005-07-18 07:59:03
9626      91       11     4.0  2005-07-18 08:01:15
9627      91       19     2.0  2005-09-12 06:46:12
9628      91       21     4.0  2005-03-23 03:36:57
9629      91       22     4.0  2005-09-12 06:51:31
9630      91       24     3.5  2005-04-11 06:40:37
9631      91       32     4.0  2005-03-28 23:23:10
9632      91       41     5.0  2005-03-23 06:06:26
9633      91       45     3.5  2005-09-12 06:56:17
9634      91       47     4.0  2005-03-23 05:58:21
9635      91       48     3.5  2005-09-12 06:49:33
9636      91       50     3.5  2005-03-22 22:48:56
9637      91       62     3.5  2005-07-18 08:00:58
9638      91      104     4.0  2005-03-22 22:43:16
9639      91      110     5.0  2005-03-22 22:45:40
9640      91      141     3.5  2005-07-18 08:00:29

In [15]:
len(similar_users_df)

4295017

In [16]:
# Now the goal is to line up reviews by movie and userId. So movies viewed by target user would
# be side index and userids would be top index. corr() finds pairwise correlation between columns.

In [17]:
 user_df.head(10)

        userId  movieId  rating            timestamp
701874    4655        1     3.5  2005-12-21 15:58:50
701875    4655        2     2.0  2005-12-22 10:12:33
701876    4655       17     4.0  2005-12-22 10:12:06
701877    4655       19     1.5  2005-12-21 15:49:41
701878    4655       29     2.5  2005-12-21 16:01:08
701879    4655       47     3.5  2005-12-21 15:55:05
701880    4655      260     4.0  2005-12-21 15:54:53
701881    4655      293     5.0  2005-12-21 15:55:45
701882    4655      296     4.0  2005-12-21 15:54:25
701883    4655      318     5.0  2005-12-21 15:53:50

In [18]:
movies_watched_df[movies_watched_df["userId"]==user_id]

        userId  movieId  rating            timestamp
701874    4655        1     3.5  2005-12-21 15:58:50
701875    4655        2     2.0  2005-12-22 10:12:33
701876    4655       17     4.0  2005-12-22 10:12:06
701877    4655       19     1.5  2005-12-21 15:49:41
701878    4655       29     2.5  2005-12-21 16:01:08
701879    4655       47     3.5  2005-12-21 15:55:05
701880    4655      260     4.0  2005-12-21 15:54:53
701881    4655      293     5.0  2005-12-21 15:55:45
701882    4655      296     4.0  2005-12-21 15:54:25
701883    4655      318     5.0  2005-12-21 15:53:50
701884    4655      319     3.5  2005-12-21 15:59:51
701885    4655      337     3.5  2005-12-21 15:51:04
701886    4655      345     4.0  2005-12-21 16:31:27
701887    4655      356     3.0  2005-12-21 16:04:19
701888    4655      364     4.5  2005-12-21 16:49:50
701889    4655      500     2.0  2005-12-22 10:11:41
701890    4655      509     4.0  2005-12-21 15:50:01
701891    4655      551     4.0  2005-12-21 16:40:43
701892    4655      588     3.5  2005-12-21 16:50:02
701893    4655      593     3.5  2005-12-21 15:54:56
701894    4655      594     4.0  2005-12-21 15:50:33
701895    4655      597     3.0  2005-12-22 10:11:34
701896    4655      736     2.0  2005-12-22 10:11:48
701897    4655      778     4.0  2005-12-21 15:58:52
701898    4655      780     2.5  2005-12-21 16:46:03
701899    4655      904     3.5  2005-12-21 16:02:01
701900    4655      917     3.5  2005-12-21 15:53:09
701901    4655     1036     3.5  2005-12-21 16:00:39
701902    4655     1089     4.0  2005-12-21 15:55:02
701903    4655     1175     3.0  2005-12-21 16:03:55
701904    4655     1196     4.0  2005-12-21 15:54:22
701905    4655     1206     3.5  2005-12-21 16:39:43
701906    4655     1208     3.5  2005-12-21 15:50:53
701907    4655     1210     4.0  2005-12-21 15:58:46
701908    4655     1216     4.0  2005-12-21 16:11:42
701909    4655     1222     3.5  2005-12-21 15:55:16
701910    4655     1246     4.0  2005-12-21 15:51:13
701911    4655     1249     3.5  2005-12-21 15:57:27
701912    4655     1258     3.5  2005-12-21 15:59:12
701913    4655     1446     4.0  2005-12-21 16:42:10
701914    4655     1517     3.5  2005-12-21 15:50:17
701915    4655     1527     4.5  2005-12-21 16:08:21
701916    4655     1580     3.0  2005-12-22 10:08:36
701917    4655     1617     3.5  2005-12-21 16:36:04
701918    4655     1682     3.5  2005-12-21 16:42:15
701919    4655     1704     2.0  2005-12-21 15:55:41
701920    4655     1721     3.0  2005-12-22 10:08:41
701921    4655     1923     3.0  2005-12-21 15:50:10
701922    4655     2028     2.5  2005-12-21 15:56:53
701923    4655     2125     3.5  2005-12-21 16:33:40
701924    4655     2232     3.5  2005-12-22 09:47:16
701925    4655     2291     4.0  2005-12-21 16:44:02
701926    4655     2324     4.5  2005-12-21 15:57:18
701927    4655     2329     5.0  2005-12-21 15:53:46
701928    4655     2359     3.5  2005-12-21 16:45:00
701929    4655     2541     4.0  2005-12-21 16:11:09
701930    4655     2542     3.5  2005-12-21 15:57:21
701931    4655     2571     4.0  2005-12-21 15:54:06
701932    4655     2580     3.0  2005-12-21 16:43:12
701933    4655     2683     4.0  2005-12-21 15:49:49
701934    4655     2692     4.0  2005-12-21 15:55:53
701935    4655     2706     2.0  2005-12-21 15:50:49
701936    4655     2710     3.0  2005-12-22 09:45:50
701937    4655     2724     1.5  2005-12-21 16:18:28
701938    4655     2762     3.5  2005-12-21 15:54:36
701939    4655     2858     4.5  2005-12-21 15:53:56
701940    4655     2908     3.5  2005-12-21 16:43:08
701941    4655     2959     4.0  2005-12-21 15:54:41
701942    4655     2997     3.5  2005-12-21 15:49:28
701943    4655     3000     4.0  2005-12-21 15:57:06
701944    4655     3081     4.0  2005-12-21 16:34:37
701945    4655     3160     3.0  2005-12-21 16:42:24
701946    4655     3176     3.0  2005-12-22 09:45:57
701947    4655     3408     2.0  2005-12-21 16:18:09
701948    4655     3481     4.0  2005-12-21 15:59:35
701949    4655     3483     3.5  2005-12-22 09:48:31
701950    4655     3578     3.0  2005-12-21 16:00:08
701951    4655     3751     4.0  2005-12-21 16:33:24
701952    4655     3793     4.0  2005-12-21 15:50:38
701953    4655     3897     4.0  2005-12-21 15:56:38
701954    4655     3908     2.0  2005-12-22 09:48:14
701955    4655     3967     4.5  2005-12-21 16:08:53
701956    4655     3988     3.5  2005-12-22 10:14:59
701957    4655     3996     3.0  2005-12-21 15:50:22
701958    4655     4011     3.0  2005-12-21 15:56:59
701959    4655     4022     1.5  2005-12-21 16:45:38
701960    4655     4027     3.5  2005-12-21 16:39:38
701961    4655     4226     4.0  2005-12-21 15:54:12
701962    4655     4235     3.5  2005-12-21 16:36:47
701963    4655     4239     3.5  2005-12-22 09:46:24
701964    4655     4246     3.5  2005-12-22 10:14:03
701965    4655     4306     4.5  2005-12-21 15:50:04
701966    4655     4308     4.5  2005-12-21 16:34:10
701967    4655     4310     1.5  2005-12-21 16:09:22
701968    4655     4370     3.0  2005-12-22 10:14:09
701969    4655     4447     2.5  2005-12-22 10:14:13
701970    4655     4718     2.0  2005-12-22 10:13:55
701971    4655     4720     3.5  2005-12-21 16:03:04
701972    4655     4874     3.5  2005-12-22 10:13:49
701973    4655     4878     3.0  2005-12-21 15:56:42
701974    4655     4886     4.5  2005-12-21 15:56:09
701975    4655     4963     3.0  2005-12-21 16:43:30
701976    4655     4973     4.5  2005-12-21 15:55:33
701977    4655     4976     3.0  2005-12-22 10:07:21
701978    4655     4979     2.5  2005-12-22 10:13:44
701979    4655     4993     5.0  2005-12-21 15:53:52
701980    4655     5015     3.0  2005-12-22 10:13:24
701981    4655     5218     4.0  2005-12-21 16:34:51
701982    4655     5377     4.0  2005-12-21 16:01:51
701983    4655     5378     3.5  2005-12-22 09:45:43
701984    4655     5444     4.5  2005-12-21 16:32:47
701985    4655     5464     3.5  2005-12-21 16:44:16
701986    4655     5502     3.0  2005-12-22 10:13:29
701987    4655     5528     3.0  2005-12-22 10:13:33
701988    4655     5618     5.0  2005-12-21 15:59:44
701989    4655     5669     3.0  2005-12-21 15:58:40
701990    4655     5791     3.5  2005-12-21 16:44:28
701991    4655     5890     3.0  2005-12-21 16:40:22
701992    4655     5902     2.5  2005-12-21 16:39:58
701993    4655     5952     5.0  2005-12-21 15:51:19
701994    4655     5971     4.5  2005-12-21 16:35:59
701995    4655     5994     2.0  2005-12-21 16:32:10
701996    4655     5995     4.0  2005-12-21 16:01:37
701997    4655     6218     4.0  2005-12-21 16:31:02
701998    4655     6291     3.5  2005-12-21 16:04:22
701999    4655     6333     4.0  2005-12-21 15:56:15
702000    4655     6377     4.0  2005-12-21 15:56:22
702001    4655     6378     3.5  2005-12-21 16:32:34
702002    4655     6385     3.5  2005-12-21 16:03:16
702003    4655     6539     4.0  2005-12-21 15:57:29
702004    4655     6711     5.0  2005-12-21 16:13:54
702005    4655     6863     3.5  2005-12-22 10:13:07
702006    4655     6867     3.5  2005-12-21 16:04:29
702007    4655     6874     4.5  2005-12-21 15:57:35
702008    4655     6953     4.0  2005-12-21 16:42:40
702009    4655     7022     2.5  2005-12-21 16:37:56
702010    4655     7099     4.0  2005-12-21 16:36:26
702011    4655     7139     4.0  2005-12-21 15:59:20
702012    4655     7147     4.0  2005-12-21 16:00:27
702013    4655     7151     4.0  2005-12-21 16:09:24
702014    4655     7153     5.0  2005-12-21 15:54:08
702015    4655     7154     3.5  2005-12-21 16:33:05
702016    4655     7323     4.0  2005-12-21 16:37:08
702017    4655     7361     3.5  2005-12-21 15:56:19
702018    4655     7372     1.0  2005-12-21 16:07:24
702019    4655     7382     4.0  2005-12-21 16:31:50
702020    4655     7438     4.5  2005-12-21 16:06:29
702021    4655     8360     3.0  2005-12-21 15:59:55
702022    4655     8368     3.0  2005-12-21 16:03:31
702023    4655     8636     3.0  2005-12-21 16:00:56
702024    4655     8645     3.0  2005-12-21 16:37:16
702025    4655     8798     3.5  2005-12-21 16:39:10
702026    4655     8873     4.0  2005-12-21 16:03:50
702027    4655     8949     3.5  2005-12-21 16:41:03
702028    4655     8961     3.5  2005-12-21 15:55:59
702029    4655     8970     4.0  2005-12-21 15:57:33
702030    4655    26662     4.0  2005-12-21 15:55:23
702031    4655    27416     3.5  2005-12-21 16:03:22
702032    4655    27721     4.0  2005-12-21 16:36:51
702033    4655    27731     3.5  2005-12-21 16:42:05
702034    4655    30749     3.5  2005-12-21 16:01:18
702035    4655    30793     4.5  2005-12-21 15:59:28
702036    4655    31658     4.5  2005-12-21 16:36:32
702037    4655    32587     3.5  2005-12-21 16:00:49
702038    4655    33166     3.5  2005-12-21 16:37:30
702039    4655    33493     4.0  2005-12-22 09:46:19
702040    4655    33794     4.0  2005-12-21 15:54:33
702041    4655    37729     4.5  2005-12-21 16:49:37
702042    4655    37733     1.5  2005-12-21 16:02:46
702043    4655    38038     4.0  2005-12-21 15:59:05
702044    4655    38061     3.5  2005-12-21 15:53:30
702045    4655    40815     4.0  2005-12-21 15:56:28
702046    4655    41569     4.0  2005-12-21 15:53:26

In [19]:
type(similar_users)

list

In [20]:
# Time-consuming: half a minute
movies_watched_df2 = movies_watched_df[movies_watched_df['userId'].isin(similar_users)]
movies_watched_df3 = movies_watched_df2.drop(['timestamp'], axis=1)
movies_watched_df_pivot = movies_watched_df3.pivot(index='userId', columns='movieId')

In [21]:
movies_watched_df_pivot.head(10)

        rating                                                              \
movieId  1     2     17    19    29    47    260   293   296   318   319
userId
91         4.0   3.5   NaN   2.0   NaN   4.0   4.5   NaN   3.5   4.0   NaN
116        3.0   2.0   NaN   2.5   NaN   4.5   4.5   5.0   4.5   4.5   3.5
208        4.0   NaN   5.0   NaN   5.0   3.5   4.5   NaN   5.0   4.5   3.0
271        1.5   2.5   NaN   2.0   NaN   3.5   2.5   NaN   3.5   NaN   NaN
294        4.5   4.5   NaN   1.0   NaN   5.0   4.0   NaN   4.5   4.0   NaN
359        5.0   NaN   NaN   3.0   2.0   4.0   5.0   4.0   5.0   5.0   NaN
367        3.0   2.0   NaN   3.0   NaN   3.5   4.0   4.5   4.5   NaN   NaN
388        2.5   1.5   NaN   1.0   NaN   3.5   3.0   3.5   4.5   4.5   NaN
413        4.5   NaN   4.5   NaN   4.5   3.5   5.0   4.5   5.0   5.0   2.0
462        3.0   3.5   4.0   3.0   NaN   4.0   4.5   4.5   NaN   4.5   NaN

                                                                           \
movieId 337   345   356   364   500   509   551   588   593   594   597
userId
91        NaN   4.0   4.0   4.5   4.0   NaN   NaN   NaN   3.0   3.5   3.0
116       NaN   NaN   4.0   4.0   3.5   NaN   3.0   3.0   3.0   1.5   NaN
208       4.0   3.5   1.0   3.5   NaN   4.0   3.5   4.5   4.5   NaN   0.5
271       3.0   NaN   3.5   2.0   3.0   NaN   3.0   1.5   4.0   2.0   2.0
294       NaN   4.0   4.5   5.0   NaN   3.5   5.0   4.0   4.5   4.0   3.5
359       NaN   NaN   4.5   NaN   4.0   NaN   3.5   4.0   5.0   5.0   4.0
367       3.0   NaN   4.0   3.5   3.0   NaN   4.5   3.0   3.5   3.0   NaN
388       2.0   NaN   3.0   2.0   1.5   NaN   4.5   3.0   4.0   2.0   NaN
413       2.0   NaN   NaN   NaN   NaN   5.0   4.0   NaN   4.5   5.0   NaN
462       NaN   4.0   4.0   4.0   3.5   3.0   NaN   4.0   4.0   NaN   NaN

                                                                           \
movieId 736   778   780   904   917   1036  1089  1175  1196  1206  1208
userId
91        3.0   4.0   3.0   4.5   NaN   NaN   2.5   NaN   5.0   5.0   4.0
116       1.0   1.5   1.0   NaN   NaN   4.5   4.0   NaN   4.5   3.5   3.5
208       2.5   4.0   4.0   5.0   NaN   3.0   4.0   4.0   4.0   4.0   4.5
271       3.5   NaN   3.5   NaN   NaN   4.0   NaN   NaN   3.0   NaN   NaN
294       4.0   NaN   3.5   2.0   NaN   4.5   4.5   NaN   4.0   4.0   4.0
359       4.0   4.0   3.0   NaN   NaN   5.0   3.5   3.0   4.0   3.0   4.0
367       NaN   NaN   3.0   NaN   NaN   4.0   NaN   NaN   4.5   NaN   4.5
388       1.5   NaN   2.0   4.0   NaN   3.5   4.0   NaN   3.0   4.0   3.5
413       NaN   4.5   NaN   5.0   NaN   3.5   3.0   4.5   4.5   4.5   5.0
462       4.0   4.0   4.0   NaN   NaN   NaN   NaN   NaN   4.5   2.0   NaN

                                                                           \
movieId 1210  1216  1222  1246  1249  1258  1446  1517  1527  1580  1617
userId
91        4.5   NaN   3.5   4.5   NaN   4.5   NaN   4.0   3.5   3.5   3.5
116       5.0   NaN   4.0   2.0   NaN   3.0   NaN   2.5   4.0   2.5   4.0
208       4.0   NaN   3.0   1.5   2.0   4.5   NaN   3.0   NaN   1.5   4.0
271       2.5   NaN   NaN   4.0   NaN   3.5   NaN   2.0   3.5   3.0   NaN
294       5.0   NaN   5.0   4.5   4.0   3.0   NaN   4.0   4.0   NaN   2.5
359       5.0   NaN   4.0   4.0   5.0   4.5   NaN   NaN   3.0   2.0   4.0
367       4.5   NaN   4.0   NaN   4.0   NaN   NaN   3.5   3.0   3.0   3.0
388       3.0   NaN   4.0   NaN   NaN   3.5   NaN   3.5   3.5   1.0   NaN
413       4.5   2.5   NaN   3.5   3.0   4.0   2.5   4.0   3.5   NaN   4.5
462       4.5   NaN   NaN   3.0   NaN   2.5   NaN   NaN   4.0   3.0   4.0

                                                                           \
movieId 1682  1704  1721  1923  2028  2125  2232  2291  2324  2329  2359
userId
91        3.5   2.5   3.5   2.5   4.0   NaN   4.5   3.5   3.0   3.5   NaN
116       2.5   NaN   0.5   2.0   5.0   NaN   NaN   3.0   NaN   4.5   NaN
208       3.0   4.0   4.0   4.0   4.0   NaN   NaN   3.5   4.0   NaN   2.0
271       3.5   2.5   3.5   NaN   3.0   2.5   NaN   2.5   4.5   NaN   3.0
294       4.5   4.5   2.0   2.0   5.0   4.0   NaN   2.5   NaN   2.0   NaN
359       3.0   4.5   NaN   4.0   5.0   NaN   NaN   NaN   4.0   5.0   NaN
367       4.0   NaN   3.0   1.5   3.5   NaN   2.5   3.0   NaN   3.5   NaN
388       3.0   3.0   NaN   1.0   3.5   NaN   2.0   3.0   NaN   4.0   NaN
413       3.5   4.0   NaN   NaN   4.0   NaN   NaN   2.5   3.0   4.5   NaN
462       3.5   NaN   4.0   3.5   2.5   NaN   NaN   4.5   NaN   NaN   NaN

                                                                           \
movieId 2541  2542  2571  2580  2683  2692  2706  2710  2724  2762  2858
userId
91        NaN   4.5   3.5   2.5   4.0   4.0   3.5   3.0   NaN   4.0   4.5
116       1.5   NaN   4.0   NaN   3.5   3.0   2.0   NaN   0.5   3.0   4.5
208       NaN   3.0   3.0   NaN   NaN   4.0   1.0   3.5   2.0   3.0   3.5
271       NaN   NaN   4.0   NaN   3.0   NaN   NaN   NaN   NaN   4.0   NaN
294       3.5   NaN   5.0   NaN   2.0   4.0   2.5   3.0   NaN   NaN   3.5
359       NaN   4.0   3.0   3.0   NaN   4.0   4.0   NaN   NaN   5.0   4.0
367       2.5   4.5   4.5   NaN   3.0   NaN   3.0   1.0   NaN   3.5   3.0
388       NaN   3.5   3.5   NaN   3.5   NaN   1.0   3.0   NaN   3.0   4.0
413       NaN   NaN   4.5   NaN   1.5   5.0   NaN   3.0   NaN   3.0   4.0
462       3.5   3.5   4.5   NaN   3.5   3.0   3.0   2.5   NaN   4.5   5.0

                                                                           \
movieId 2908  2959  2997  3000  3081  3160  3176  3408  3481  3483  3578
userId
91        NaN   5.0   4.0   NaN   3.5   0.5   3.0   3.0   4.0   NaN   3.5
116       NaN   5.0   NaN   NaN   NaN   NaN   NaN   NaN   1.5   NaN   4.0
208       5.0   4.0   4.5   2.0   NaN   5.0   4.5   NaN   4.5   NaN   4.0
271       NaN   4.5   NaN   4.0   NaN   NaN   NaN   2.5   NaN   NaN   NaN
294       NaN   5.0   4.0   4.0   NaN   NaN   3.5   3.5   3.0   NaN   3.0
359       NaN   3.5   4.5   4.0   4.0   NaN   NaN   NaN   4.5   NaN   4.0
367       NaN   5.0   NaN   4.0   1.0   NaN   3.0   2.0   NaN   NaN   3.5
388       NaN   4.5   NaN   3.0   2.5   NaN   3.0   3.0   NaN   2.5   3.5
413       NaN   4.5   3.5   3.5   3.0   3.5   NaN   NaN   4.0   NaN   2.5
462       NaN   4.0   NaN   4.0   5.0   NaN   NaN   NaN   NaN   2.5   3.5

                                                                           \
movieId 3751  3793  3897  3908  3967  3988  3996  4011  4022  4027  4226
userId
91        4.0   4.0   3.0   NaN   4.0   NaN   4.0   4.0   3.0   4.0   5.0
116       NaN   4.0   3.0   NaN   NaN   3.0   3.0   4.0   2.5   NaN   NaN
208       4.0   NaN   4.0   NaN   NaN   NaN   3.5   NaN   3.0   4.0   4.5
271       4.0   3.0   NaN   NaN   NaN   NaN   NaN   3.0   3.5   3.0   4.0
294       NaN   4.0   3.5   NaN   NaN   NaN   5.0   2.0   NaN   NaN   4.0
359       4.0   4.5   NaN   NaN   NaN   NaN   3.5   4.0   4.5   4.5   5.0
367       NaN   3.5   NaN   NaN   NaN   NaN   3.0   4.5   3.0   3.5   4.5
388       2.5   2.0   NaN   1.0   NaN   2.0   3.5   4.0   3.0   3.0   3.5
413       NaN   3.5   4.0   0.5   NaN   NaN   4.5   NaN   3.5   4.5   4.5
462       NaN   4.0   NaN   NaN   3.5   NaN   5.0   NaN   NaN   NaN   2.5

                                                                           \
movieId 4235  4239  4246  4306  4308  4310  4370  4447  4718  4720  4874
userId
91        NaN   NaN   4.0   3.5   2.5   NaN   3.5   NaN   NaN   4.0   4.0
116       NaN   NaN   NaN   3.0   NaN   0.5   1.0   1.5   1.5   NaN   3.0
208       NaN   NaN   3.5   4.0   4.0   NaN   3.0   NaN   NaN   NaN   NaN
271       NaN   NaN   NaN   2.0   4.0   NaN   4.5   2.5   NaN   4.5   4.0
294       NaN   NaN   NaN   4.0   2.0   3.5   2.5   NaN   2.0   NaN   3.5
359       NaN   NaN   NaN   4.0   NaN   NaN   5.0   NaN   NaN   NaN   3.0
367       NaN   3.5   NaN   3.0   3.5   1.5   2.0   NaN   3.0   NaN   3.5
388       NaN   3.5   2.0   3.5   2.5   2.0   2.0   2.0   1.5   NaN   4.0
413       NaN   NaN   NaN   1.0   NaN   NaN   NaN   NaN   NaN   4.0   2.5
462       NaN   NaN   3.5   4.5   2.5   NaN   3.0   4.0   NaN   NaN   NaN

                                                                           \
movieId 4878  4886  4963  4973  4976  4979  4993  5015  5218  5377  5378
userId
91        NaN   4.0   4.0   4.0   NaN   4.0   5.0   NaN   3.5   4.0   3.0
116       4.5   3.0   2.5   NaN   NaN   3.0   3.5   NaN   3.0   NaN   2.5
208       4.0   NaN   3.0   4.0   NaN   4.5   4.0   3.5   NaN   4.0   1.5
271       4.0   2.0   3.5   4.0   NaN   0.5   3.0   NaN   2.5   4.0   2.0
294       2.5   4.5   4.0   NaN   NaN   3.0   4.5   NaN   NaN   NaN   3.0
359       3.0   4.0   NaN   5.0   NaN   4.0   5.0   4.0   3.5   NaN   1.0
367       NaN   NaN   3.5   NaN   NaN   NaN   4.5   NaN   3.0   NaN   3.0
388       5.0   2.5   NaN   4.5   NaN   NaN   3.0   NaN   1.5   NaN   3.0
413       4.0   4.0   NaN   5.0   NaN   3.5   4.5   NaN   NaN   4.0   NaN
462       5.0   3.5   4.0   3.5   NaN   3.5   5.0   NaN   NaN   NaN   NaN

                                                                           \
movieId 5444  5464  5502  5528  5618  5669  5791  5890  5902  5952  5971
userId
91        NaN   4.0   4.5   NaN   NaN   4.5   NaN   NaN   3.5   5.0   NaN
116       1.5   NaN   3.5   3.0   NaN   3.0   3.0   NaN   NaN   3.5   NaN
208       NaN   NaN   NaN   NaN   2.0   NaN   NaN   NaN   5.0   4.0   NaN
271       NaN   NaN   2.5   4.0   3.0   3.5   3.0   NaN   NaN   2.5   NaN
294       4.0   NaN   3.5   3.5   3.0   NaN   NaN   NaN   NaN   4.0   3.5
359       NaN   4.5   3.0   4.0   4.5   NaN   NaN   4.0   4.0   4.0   4.0
367       NaN   3.0   3.5   NaN   NaN   NaN   NaN   NaN   NaN   4.0   NaN
388       2.0   NaN   3.0   NaN   3.5   3.0   NaN   NaN   NaN   3.0   3.5
413       3.5   NaN   2.0   NaN   4.5   4.0   NaN   NaN   3.5   4.0   5.0
462       NaN   NaN   NaN   NaN   4.0   NaN   NaN   NaN   NaN   5.0   4.0

                                                                           \
movieId 5994  5995  6218  6291  6333  6377  6378  6385  6539  6711  6863
userId
91        NaN   4.0   3.0   NaN   3.5   4.0   NaN   NaN   3.5   4.0   3.0
116       NaN   NaN   NaN   NaN   4.5   3.0   NaN   NaN   4.0   NaN   3.0
208       NaN   4.0   4.0   NaN   NaN   3.5   NaN   4.0   NaN   4.5   3.0
271       NaN   4.5   3.5   NaN   3.0   2.5   4.5   NaN   3.5   NaN   3.0
294       NaN   3.5   1.5   NaN   3.5   4.5   2.5   NaN   3.5   4.0   NaN
359       NaN   NaN   NaN   NaN   4.0   3.0   3.5   3.5   2.5   2.5   4.0
367       NaN   NaN   NaN   NaN   3.0   NaN   3.0   NaN   4.0   NaN   2.5
388       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0   4.0   2.0
413       NaN   NaN   3.0   NaN   3.5   4.0   NaN   4.5   3.0   4.5   3.0
462       NaN   4.5   NaN   NaN   4.0   3.5   4.0   NaN   4.0   5.0   NaN

                                                                           \
movieId 6867  6874  6953  7022  7099  7139  7147  7151  7153  7154  7323
userId
91        NaN   4.0   NaN   NaN   NaN   NaN   3.0   NaN   5.0   NaN   NaN
116       NaN   3.5   NaN   NaN   NaN   NaN   2.5   NaN   3.5   NaN   NaN
208       4.0   NaN   3.5   NaN   NaN   NaN   NaN   NaN   4.0   NaN   4.0
271       NaN   4.0   NaN   4.0   NaN   NaN   4.5   NaN   2.5   NaN   NaN
294       NaN   4.5   2.5   NaN   NaN   NaN   2.5   NaN   4.5   NaN   NaN
359       3.5   4.5   NaN   NaN   3.5   NaN   2.0   NaN   5.0   NaN   NaN
367       NaN   4.0   NaN   3.0   4.0   NaN   NaN   NaN   4.5   NaN   NaN
388       NaN   5.0   3.0   3.0   NaN   NaN   3.5   NaN   3.0   NaN   NaN
413       NaN   5.0   4.0   4.0   4.5   NaN   3.5   4.5   3.5   NaN   3.0
462       NaN   5.0   4.5   5.0   4.0   NaN   NaN   4.5   5.0   NaN   NaN

                                                                           \
movieId 7361  7372  7382  7438  8360  8368  8636  8645  8798  8873  8949
userId
91        4.0   NaN   NaN   3.0   4.0   3.5   2.0   NaN   NaN   4.0   4.0
116       4.0   NaN   NaN   3.5   NaN   NaN   2.5   NaN   4.0   NaN   3.5
208       4.0   NaN   4.5   2.0   3.5   NaN   NaN   4.0   4.0   NaN   4.5
271       NaN   NaN   NaN   3.5   0.5   3.5   1.5   NaN   4.0   3.5   0.5
294       3.5   NaN   NaN   4.0   3.0   4.0   2.0   NaN   3.0   NaN   NaN
359       4.0   NaN   NaN   4.0   4.0   NaN   3.0   4.0   3.5   NaN   3.0
367       NaN   NaN   NaN   4.0   NaN   4.0   3.0   NaN   5.0   NaN   NaN
388       NaN   NaN   NaN   5.0   3.5   3.0   3.5   NaN   NaN   3.5   NaN
413       4.5   NaN   NaN   5.0   NaN   4.0   4.0   3.5   4.0   3.0   4.5
462       4.5   NaN   NaN   4.0   4.0   NaN   NaN   NaN   NaN   NaN   NaN

                                                                           \
movieId 8961  8970  26662 27416 27721 27731 30749 30793 31658 32587 33166
userId
91        4.5   4.0   NaN   NaN   3.5   NaN   4.5   3.5   NaN   2.5   NaN
116       3.0   NaN   NaN   NaN   NaN   NaN   5.0   4.5   NaN   5.0   NaN
208       4.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   4.0
271       2.0   3.5   4.0   NaN   NaN   NaN   4.0   3.5   NaN   1.0   NaN
294       3.5   3.5   NaN   NaN   NaN   NaN   4.0   NaN   4.5   5.0   NaN
359       3.5   NaN   5.0   NaN   3.5   4.0   3.5   NaN   3.0   2.5   3.5
367       3.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   4.0   4.0   NaN
388       NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.5   4.0   4.0   NaN
413       4.5   4.0   5.0   NaN   4.0   NaN   4.0   3.5   3.0   4.5   2.5
462       4.0   4.0   4.0   NaN   NaN   NaN   NaN   3.5   4.0   4.0   3.5


movieId 33493 33794 37729 37733 38038 38061 40815 41569
userId
91        3.5   NaN   3.5   NaN   4.5   NaN   4.5   NaN
116       3.0   4.5   2.5   NaN   NaN   NaN   NaN   NaN
208       NaN   NaN   4.0   4.0   4.0   4.0   NaN   NaN
271       2.5   4.0   NaN   NaN   3.5   NaN   3.0   3.0
294       4.5   4.5   3.0   NaN   NaN   3.0   4.5   2.5
359       2.5   4.5   4.0   4.0   4.0   NaN   NaN   4.0
367       3.5   4.0   NaN   4.0   NaN   4.5   4.5   4.5
388       3.0   NaN   3.5   NaN   NaN   NaN   3.0   3.5
413       2.5   3.5   4.0   4.0   NaN   NaN   3.5   NaN
462       NaN   3.5   NaN   NaN   NaN   NaN   4.0   NaN

In [22]:

corr_df = movies_watched_df_pivot.transpose()

In [23]:

corr_df2 = corr_df.corrwith(corr_df[user_id], method='pearson')

In [24]:
corr_df2.head(10)

userId
91     0.351651
116    0.451018
208    0.167091
271    0.152646
294    0.218343
359    0.140954
367    0.407469
388    0.468593
413    0.182098
462    0.331276
dtype: float64

In [25]:
corr_df3 = corr_df2.sort_values(ascending=False).drop_duplicates()
corr_df3.shape

(4598,)

In [26]:
corr_df3.head(10)

userId
4655      1.000000
115226    0.677524
26831     0.633033
112520    0.608344
87537     0.606693
74403     0.605665
33308     0.602234
137993    0.596596
19477     0.593769
24295     0.593594
dtype: float64

In [27]:
# Convert series to dataframe
corr_df4 = corr_df3.to_frame()
corr_df4.head(10)

               0
userId
4655    1.000000
115226  0.677524
26831   0.633033
112520  0.608344
87537   0.606693
74403   0.605665
33308   0.602234
137993  0.596596
19477   0.593769
24295   0.593594

In [29]:
corr_df4.rename( columns={0:'corr'}, inplace=True )
corr_df4.head(10)

            corr
userId
4655    1.000000
115226  0.677524
26831   0.633033
112520  0.608344
87537   0.606693
74403   0.605665
33308   0.602234
137993  0.596596
19477   0.593769
24295   0.593594

In [36]:
# Pull off users that are highly correlated in ratings
# True would prevent userId index from being retained as a column
corr_df5 = corr_df4.drop(axis=0, index = user_id)
top_users = corr_df5[(corr_df5["corr"] >= 0.40)]
top_users.head(10)

            corr
userId
115226  0.677524
26831   0.633033
112520  0.608344
87537   0.606693
74403   0.605665
33308   0.602234
137993  0.596596
19477   0.593769
24295   0.593594
40798   0.592647

In [37]:
top_users.size

669

In [38]:
top_users.reset_index(drop=False, inplace=True)
top_users.head(10)

   userId      corr
0  115226  0.677524
1   26831  0.633033
2  112520  0.608344
3   87537  0.606693
4   74403  0.605665
5   33308  0.602234
6  137993  0.596596
7   19477  0.593769
8   24295  0.593594
9   40798  0.592647

In [39]:
similar_users_df2 = similar_users_df[similar_users_df['userId'].isin(top_users['userId'])]
similar_users_df2.head(10)

       userId  movieId  rating            timestamp
13174     116        1     3.0  2005-11-23 02:06:57
13175     116        2     2.0  2005-11-23 06:41:08
13176     116        3     2.0  2005-11-23 06:40:58
13177     116        6     1.5  2005-11-23 16:03:02
13178     116        8     1.0  2005-11-24 00:22:10
13179     116        9     1.5  2005-11-23 20:29:11
13180     116       10     2.0  2005-11-23 16:00:40
13181     116       11     2.0  2005-11-23 16:03:35
13182     116       12     0.5  2005-11-23 23:44:19
13183     116       15     0.5  2005-11-24 03:58:08

In [40]:
similar_users_df2.shape

(530366, 4)

In [41]:
similar_users_df2.to_csv("rating_corr.csv",header=False, index=False)