# Recommendation System Via Hybrid Comparison  
#### <span style="color: cornflowerblue">Team 01 | CSPB 4502 | 11/16/22</span>

The following is a two-stage filtering of raw data for the Netflix recommendation competition to retain only users sufficiently similar to the randomly chosen subscriber (represented by *user_id*). The first stage filters by overlap of movies rated. The second filters by correlation of ratings.

The threshold for the first filter is a percentage of movies rated by *user_id* that another user has rated.

The threshold for the second filter is a correlation coefficient between the ratings of *user_id* and a user for only movies they both have rated.

Threshold selections can be found at the top of the program.

In [1]:
import pandas as pd
import numpy as np

# csv of combined netflix ratings (see EDA_Netflix on how this was created)
rating_filepath = r'../data/ratings.csv'

# seed for randomization
seed = 3
np.random.seed(seed)

movie_thresh = 0.6    # threshold proportion of random_ID's movies that a user must have rated to be retained
rho_thresh = 0.4   # threshold a user's correlation coefficient must meet to be retained

In [2]:
# runtime: 20 sec
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df = pd.read_csv(rating_filepath, index_col=0)

In [3]:
df.head(10)

      index  Movie_Id  CustomerID  Rating        Date
0  79334307     14358           6       2  2005-12-04
1  34092597      6134           6       4  2005-01-12
2  32652672      5926           6       4  2005-10-26
3  38173947      6797           6       3  2004-11-10
4  20618167      3905           6       3  2005-12-04
5  99601160     17560           6       3  2004-11-10
6  75553656     13651           6       3  2004-11-13
7  40752419      7230           6       5  2005-08-29
8  21282866      3962           6       4  2005-08-29
9  69300001     12560           6       3  2005-12-04

In [4]:
len(df)
# Sanity check: total number of ratings before any thresholds applied

100480507

In [5]:
max_value = len(df["CustomerID"].unique())
max_value
# Output: total number of users in data frame (highest ID number)

480189

In [6]:
# runtime: 3 sec
# choose randomly a user for whom to give recommendations
random_id = int(df["CustomerID"].sample(1))


##################################################
####### Randomly selected user's ID number #######
##################################################

In [7]:
# Pulling off the records of just the target user
user_df = df[df["CustomerID"] == random_id]
user_df.head(10)
len(user_df)

#################################################
##### Number of movies rated by random_user #####
#################################################

156

In [8]:
# Putting the movies watched by random_user into a list
movies_watched = user_df["Movie_Id"].tolist()

# Check: format, sanity check
print(movies_watched[0:10])

[12799, 14606, 6037, 12299, 10906, 16604, 7624, 6134, 17169, 4972]

In [9]:
# Runtime: 2 seconds
movies_watched_df = df[df["Movie_Id"].isin(movies_watched)]


# Output: all rows referring to a movie random_id rated
movies_watched_df.head(20)

        index  Movie_Id  CustomerID  Rating        Date
1    34092597      6134           6       4  2005-01-12
6    75553656     13651           6       3  2004-11-13
8    21282866      3962           6       4  2005-08-29
24   91333971     16242           6       3  2005-04-20
31   81114956     14574           6       4  2004-09-27
35   29531350      5401           6       2  2004-12-14
37   92320246     16377           6       4  2004-10-14
49   62315841     11314           6       3  2005-12-04
50   67431159     12293           6       5  2004-09-15
53   85766546     15205           6       3  2004-10-19
55   80761715     14538           6       4  2004-09-15
66   56955030     10378           6       3  2005-04-20
73   20373025      3864           6       3  2005-11-25
79   43402245      7635           6       2  2005-03-23
93   14468471      2782           6       5  2004-09-15
107  64726863     11812           6       3  2005-11-25
110   7692397      1542           6       3  2005-12-04
113  98018856     17324           6       3  2005-11-25
116  15186695      2913           6       3  2005-04-06
120  61372015     11182           6       4  2004-11-10

In [10]:
user_movie_count = movies_watched_df.groupby(["CustomerID"]).Movie_Id.count()
user_movie_count.head(10)
# Output: number of moviews a user has rated that randome_user has also rated
# Check: Most users will have rated at least one of random_user's rated movies

CustomerID
6      92
7     126
8      31
10     47
25      8
33      7
42     28
59     32
79    113
83      2
Name: Movie_Id, dtype: int64

In [11]:
############################################
####### Overlap threshold applied here #####
############################################

# We will pull off only users who have rated at least this proportion of the movies the target user has rated.
m_count = movie_thresh*len(movies_watched)
m_count

# Output: movie count threshold for retention of a user

93.6

In [12]:
user_movie_count = user_movie_count.reset_index()
user_movie_count.columns = ["CustomerID", "movie_count"]

# Choosing 50% instead of 60% makes a huge difference in number of records that finally get through.

# choose a ratio of 0.50. User ids who watched at least 50 percent of target user's movies 
users_same_movies = user_movie_count[user_movie_count["movie_count"] > m_count].sort_values("movie_count", ascending=False)
users_same_movies.nunique()

# Output: total number of users that rated at least 50% of movies rated by random_user

CustomerID     24331
movie_count       63
dtype: int64

In [13]:
# Sanity check: movie_count should be no higher than len(movies_watched) above
users_same_movies.head(10)

        CustomerID  movie_count
372468     2118461          156
126523      716173          156
68399       387418          156
93724       531050          156
458343     2606799          156
231665     1314869          155
428897     2439493          155
412947     2349412          155
446204     2537543          154
292899     1664010          154

In [14]:
similar_users = users_same_movies["CustomerID"].tolist()
similar_users_df = df[df["CustomerID"].isin(similar_users)]

# Sanity check: ALL ratings of users heavily overlapping random_id's movies
similar_users_df.sort_values(by=["Movie_Id", "CustomerID"]).head(20)

          index  Movie_Id  CustomerID  Rating        Date
111909      275         1        3321       3  2005-09-27
559812      186         1       14756       4  2005-12-27
621248      311         1       16272       4  2005-01-20
1138129     141         1       30245       5  2004-10-19
1162138       3         1       30878       4  2005-12-26
3262137     264         1       87113       2  2005-09-21
3711703     125         1       99400       5  2005-09-16
4593359     238         1      122197       1  2005-03-09
5046855     252         1      134001       4  2005-05-06
5459036     454         1      145873       3  2004-02-25
5514902     109         1      147386       5  2004-09-19
5650074     483         1      151004       5  2004-07-09
6234879     262         1      166041       4  2005-09-02
6526863     476         1      173930       4  2005-06-30
7068498     534         1      188613       4  2005-09-15
8638840     282         1      230112       3  2004-08-26
9574526     182         1      255443       2  2005-05-23
9743432     220         1      259799       4  2005-06-23
10244856    517         1      272689       5  2005-03-03
10848494    355         1      288420       5  2005-06-02

In [15]:
# Number of ratings by users that have strong movie overlap with random_id
# Compare to len(df) above (about 1/4?)
len(similar_users_df)

24682064

In [16]:
# Create CustomerID vs Movie_Id pivot talbe so that
# corr() can find pairwise correlation between columns.

# Checking the starting format 
print(user_df.head(10))
del(user_df)

             index  Movie_Id  CustomerID  Rating        Date
20236871  70629382     12799      531050       4  2005-10-22
20236872  81390529     14606      531050       3  2005-10-22
20236873  33426000      6037      531050       2  2005-10-22
20236874  67536946     12299      531050       4  2005-10-22
20236875  59319689     10906      531050       3  2005-12-02
20236876  93599680     16604      531050       5  2005-10-22
20236877  43164086      7624      531050       3  2005-10-22
20236878  34082489      6134      531050       5  2005-12-02
20236879  97063927     17169      531050       5  2005-10-22
20236880  26764256      4972      531050       3  2005-12-02

In [17]:
# Sanity check: movie_watched_df should include all of random_id's records
movies_watched_df[movies_watched_df["CustomerID"]==random_id].sort_values(by=["Movie_Id", "CustomerID"])

             index  Movie_Id  CustomerID  Rating        Date
20236911    787820       191      531050       5  2005-10-22
20237011   1635102       313      531050       4  2005-10-22
20236953   4555085       886      531050       5  2005-12-02
20236962   5540915      1110      531050       3  2005-10-22
20236903   6058522      1180      531050       3  2005-10-22
20237020   6718168      1307      531050       4  2005-10-22
20236884   7175463      1428      531050       4  2005-10-22
20237018   7683067      1542      531050       5  2005-10-22
20236983   8455111      1692      531050       4  2005-10-22
20236954   9207305      1810      531050       4  2005-10-22
20237026   9826718      1905      531050       5  2005-10-22
20236980  10950231      2128      531050       1  2005-10-22
20236981  11166255      2152      531050       2  2005-10-22
20236992  11617529      2200      531050       3  2005-10-22
20236945  14458028      2782      531050       3  2005-10-22
20236882  15178346      2913      531050       5  2005-10-22
20236989  15801278      3079      531050       4  2005-10-22
20237025  17094167      3290      531050       4  2005-10-22
20236900  17380080      3333      531050       4  2005-12-02
20236909  19040452      3624      531050       4  2005-10-22
20236935  19174759      3638      531050       3  2005-10-22
20236943  20063775      3825      531050       3  2005-10-22
20236912  20368589      3864      531050       5  2005-12-02
20236977  21064008      3938      531050       5  2005-10-22
20236891  21271996      3962      531050       5  2005-10-22
20237023  21871587      4123      531050       5  2005-10-22
20236950  22238852      4216      531050       3  2005-10-22
20236915  22544501      4266      531050       5  2005-12-02
20236897  22822739      4306      531050       4  2005-10-22
20237002  23257748      4356      531050       4  2005-12-02
20236961  23757524      4432      531050       5  2005-10-22
20236991  24232207      4545      531050       4  2005-10-22
20236939  24760212      4640      531050       4  2005-10-22
20236944  25173328      4683      531050       3  2005-10-22
20236967  26619188      4951      531050       5  2005-10-22
20236880  26764256      4972      531050       3  2005-12-02
20237009  26965850      4996      531050       4  2005-10-22
20236902  27607271      5087      531050       2  2005-10-22
20237007  28420172      5239      531050       4  2005-12-02
20237022  28660648      5293      531050       3  2005-10-22
20236990  29136237      5327      531050       4  2005-10-22
20236975  29522040      5401      531050       3  2005-12-02
20236932  30031485      5496      531050       3  2005-12-02
20236885  30364043      5549      531050       5  2005-12-08
20236918  30414116      5561      531050       1  2005-10-22
20237024  30608665      5582      531050       5  2005-10-22
20236896  31613609      5775      531050       5  2005-10-22
20236928  31898772      5807      531050       4  2005-10-22
20236873  33426000      6037      531050       2  2005-10-22
20237019  33550078      6042      531050       3  2005-12-02
20236878  34082489      6134      531050       5  2005-12-02
20236971  34851795      6243      531050       2  2005-10-22
20236907  35931597      6386      531050       1  2005-10-22
20236938  36162022      6428      531050       5  2005-10-22
20236973  37197145      6615      531050       4  2005-10-22
20236916  38316520      6829      531050       4  2005-10-22
20236947  38639041      6859      531050       3  2005-12-02
20236925  40301031      7155      531050       4  2005-10-22
20236936  40957429      7234      531050       4  2005-10-22
20236969  41681317      7364      531050       4  2005-10-22
20236937  42289123      7509      531050       2  2005-10-22
20236974  42417876      7513      531050       5  2005-10-22
20236877  43164086      7624      531050       3  2005-10-22
20236979  43393884      7635      531050       4  2005-12-02
20236898  47121703      8467      531050       2  2005-10-22
20236982  47649232      8596      531050       5  2005-10-22
20236956  48610442      8764      531050       3  2005-10-22
20236906  49077017      8832      531050       1  2005-10-22
20236894  49269500      8851      531050       5  2005-10-22
20237006  50483944      9111      531050       3  2005-10-22
20236881  51604321      9340      531050       2  2005-10-22
20236886  52426418      9528      531050       4  2005-10-22
20236922  52899677      9617      531050       4  2005-10-22
20236923  53028028      9628      531050       5  2005-10-22
20236904  53655047      9756      531050       3  2005-10-22
20236994  53998362      9818      531050       5  2005-10-22
20236965  54993567     10042      531050       4  2005-10-22
20236957  55773488     10170      531050       2  2005-10-22
20236960  56462517     10344      531050       3  2005-10-22
20237010  56566934     10358      531050       3  2005-10-22
20236997  56947669     10378      531050       4  2005-10-22
20236889  57000915     10379      531050       5  2005-10-22
20237013  57299580     10436      531050       4  2005-10-22
20236985  57493251     10491      531050       2  2005-10-22
20236999  57653758     10550      531050       4  2005-12-02
20236924  57833662     10583      531050       3  2005-12-02
20236931  57978228     10607      531050       4  2005-10-22
20236996  58211400     10664      531050       4  2005-10-22
20236875  59319689     10906      531050       3  2005-12-02
20236929  59614084     10947      531050       4  2005-10-22
20236930  60082661     11040      531050       4  2005-10-22
20236917  60599891     11089      531050       4  2005-10-22
20237012  61363739     11182      531050       4  2005-12-02
20237000  62126582     11283      531050       4  2005-10-22
20236987  62307304     11314      531050       4  2005-12-02
20236934  63626523     11607      531050       5  2005-10-22
20236970  64550125     11781      531050       4  2005-10-22
20236888  64718600     11812      531050       5  2005-12-02
20236887  65780349     12052      531050       5  2005-10-22
20236941  67422986     12293      531050       5  2005-10-22
20236874  67536946     12299      531050       4  2005-10-22
20236976  67802595     12317      531050       4  2005-10-22
20236946  68605879     12470      531050       3  2005-10-22
20236952  68924251     12494      531050       3  2005-10-22
20237016  69465053     12582      531050       4  2005-12-02
20236892  69899392     12672      531050       2  2005-10-22
20236995  70528587     12785      531050       5  2005-10-22
20236871  70629382     12799      531050       4  2005-10-22
20236964  71202348     12904      531050       4  2005-10-22
20236959  72416293     13081      531050       4  2005-10-22
20237021  75298723     13622      531050       5  2005-10-22
20236908  75543192     13651      531050       4  2005-10-22
20237005  75648743     13673      531050       3  2005-10-22
20236984  75913521     13728      531050       5  2005-10-22
20236921  77483069     14103      531050       3  2005-12-02
20236963  77718933     14146      531050       3  2005-10-22
20236905  79081189     14313      531050       5  2005-10-22
20237014  79779933     14407      531050       3  2005-10-22
20236893  79888672     14410      531050       2  2005-10-22
20236988  80749708     14538      531050       3  2005-12-02
20237001  80953916     14550      531050       5  2005-10-22
20236933  81106500     14574      531050       5  2005-10-22
20236872  81390529     14606      531050       3  2005-10-22
20236895  81547811     14621      531050       5  2005-10-22
20237003  82209895     14691      531050       2  2005-10-22
20236914  82517912     14718      531050       1  2005-10-22
20237004  84875451     15107      531050       5  2005-10-22
20236919  85015455     15116      531050       4  2005-10-22
20236927  85259399     15125      531050       3  2005-10-22
20236942  85455697     15156      531050       3  2005-10-22
20237017  85751483     15205      531050       3  2005-10-22
20237015  86507408     15393      531050       3  2005-10-22
20236910  87160364     15471      531050       3  2005-12-02
20236958  87238157     15472      531050       4  2005-10-22
20236955  87369994     15509      531050       5  2005-12-02
20236986  88847793     15788      531050       4  2005-12-02
20236951  89199985     15844      531050       5  2005-10-22
20237008  89489151     15894      531050       4  2005-10-22
20236920  89762465     15952      531050       4  2005-10-22
20236968  89904485     15975      531050       3  2005-10-22
20236949  90575021     16128      531050       3  2005-10-22
20236890  91320042     16242      531050       4  2005-10-22
20236978  91488599     16265      531050       5  2005-10-22
20236913  92306150     16377      531050       5  2005-10-22
20236899  92503404     16384      531050       5  2005-10-22
20236993  93375771     16552      531050       4  2005-10-22
20236876  93599680     16604      531050       5  2005-10-22
20236948  94935742     16872      531050       4  2005-10-22
20236926  95057241     16879      531050       3  2005-10-22
20236966  95683813     16954      531050       5  2005-10-22
20236901  95968124     17002      531050       3  2005-10-22
20236972  96905544     17157      531050       3  2005-10-22
20236879  97063927     17169      531050       5  2005-10-22
20236998  97386668     17215      531050       4  2005-10-22
20236883  98009960     17324      531050       3  2005-12-02
20236940  98384059     17355      531050       3  2005-12-02

In [18]:
# Create a Movie_Id vs. CustomerID pivot table
# Running time: immediate
movies_watched_df2 = movies_watched_df[movies_watched_df['CustomerID'].isin(similar_users)]
movies_watched_df3 = movies_watched_df2.drop(['Date'], axis=1)
movies_watched_df_pivot = movies_watched_df3.pivot(index=['CustomerID'], columns=['Movie_Id'], values="Rating")

In [19]:
# Check: No more than about 40% of ratings are NaN
movies_watched_df_pivot.head(10)

Movie_Id,191,313,886,1110,1180,1307,1428,1542,1692,1810,1905,2128,2152,2200,2782,2913,3079,3290,3333,3624,3638,3825,3864,3938,3962,4123,4216,4266,4306,4356,4432,4545,4640,4683,4951,4972,4996,5087,5239,5293,5327,5401,5496,5549,5561,5582,5775,5807,6037,6042,6134,6243,6386,6428,6615,6829,6859,7155,7234,7364,7509,7513,7624,7635,8467,8596,8764,8832,8851,9111,9340,9528,9617,9628,9756,9818,10042,10170,10344,10358,10378,10379,10436,10491,10550,10583,10607,10664,10906,10947,11040,11089,11182,11283,11314,11607,11781,11812,12052,12293,12299,12317,12470,12494,12582,12672,12785,12799,12904,13081,13622,13651,13673,13728,14103,14146,14313,14407,14410,14538,14550,14574,14606,14621,14691,14718,15107,15116,15125,15156,15205,15393,15471,15472,15509,15788,15844,15894,15952,15975,16128,16242,16265,16377,16384,16552,16604,16872,16879,16954,17002,17157,17169,17215,17324,17355
CustomerID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,4.0,5.0,4.0,NaN,5.0,5.0,4.0,4.0,NaN,2.0,5.0,4.0,3.0,3.0,5.0,NaN,NaN,5.0,NaN,5.0,5.0,5.0,NaN,4.0,5.0,4.0,3.0,5.0,5.0,4.0,5.0,5.0,5.0,3.0,4.0,3.0,3.0,NaN,NaN,4.0,NaN,3.0,4.0,5.0,4.0,5.0,5.0,5.0,3.0,3.0,5.0,4.0,3.0,5.0,NaN,4.0,3.0,5.0,5.0,5.0,4.0,NaN,3.0,3.0,NaN,5.0,4.0,4.0,NaN,4.0,3.0,5.0,5.0,5.0,4.0,4.0,5.0,2.0,3.0,3.0,NaN,NaN,3.0,5.0,5.0,3.0,5.0,NaN,3.0,5.0,5.0,4.0,5.0,5.0,4.0,5.0,4.0,NaN,5.0,5.0,3.0,NaN,4.0,NaN,5.0,3.0,3.0,NaN,5.0,4.0,5.0,3.0,5.0,5.0,NaN,4.0,4.0,NaN,4.0,3.0,5.0,4.0,4.0,NaN,5.0,2.0,5.0,4.0,NaN,4.0,4.0,NaN,4.0,4.0,NaN,4.0,3.0,4.0,NaN,NaN,4.0,2.0,5.0,5.0,4.0,5.0,4.0,NaN,4.0,5.0,NaN,4.0,4.0,4.0,5.0,5.0
79,4.0,NaN,5.0,4.0,4.0,3.0,3.0,4.0,NaN,3.0,4.0,4.0,3.0,3.0,4.0,4.0,4.0,NaN,NaN,1.0,3.0,3.0,5.0,5.0,5.0,4.0,NaN,NaN,5.0,4.0,4.0,NaN,5.0,3.0,NaN,3.0,5.0,5.0,5.0,4.0,2.0,5.0,3.0,NaN,NaN,4.0,NaN,5.0,4.0,5.0,3.0,NaN,4.0,NaN,4.0,4.0,4.0,4.0,2.0,NaN,4.0,NaN,4.0,4.0,3.0,NaN,3.0,NaN,NaN,4.0,4.0,NaN,4.0,5.0,3.0,NaN,4.0,NaN,4.0,3.0,3.0,1.0,NaN,5.0,NaN,1.0,4.0,NaN,4.0,5.0,NaN,4.0,3.0,5.0,4.0,NaN,4.0,5.0,NaN,4.0,5.0,3.0,4.0,5.0,NaN,4.0,4.0,4.0,5.0,4.0,NaN,3.0,NaN,4.0,NaN,NaN,4.0,NaN,4.0,3.0,NaN,4.0,NaN,5.0,4.0,3.0,3.0,5.0,NaN,NaN,3.0,3.0,2.0,3.0,NaN,1.0,NaN,NaN,4.0,5.0,4.0,NaN,4.0,4.0,3.0,5.0,3.0,5.0,4.0,4.0,NaN,5.0,5.0,NaN,4.0,2.0
134,5.0,NaN,NaN,NaN,NaN,5.0,5.0,4.0,NaN,5.0,5.0,NaN,5.0,NaN,5.0,NaN,5.0,NaN,NaN,5.0,5.0,5.0,5.0,5.0,5.0,NaN,5.0,NaN,5.0,NaN,5.0,NaN,5.0,NaN,NaN,5.0,5.0,NaN,5.0,5.0,NaN,5.0,5.0,NaN,NaN,5.0,NaN,NaN,5.0,3.0,5.0,NaN,5.0,5.0,NaN,NaN,NaN,5.0,5.0,NaN,5.0,NaN,5.0,5.0,4.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,5.0,5.0,5.0,NaN,5.0,4.0,5.0,5.0,NaN,5.0,5.0,5.0,NaN,NaN,5.0,NaN,5.0,5.0,5.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,4.0,5.0,NaN,5.0,5.0,NaN,5.0,NaN,5.0,5.0,5.0,5.0,NaN,NaN,5.0,NaN,5.0,NaN,NaN,5.0,5.0,5.0,5.0,4.0,5.0,NaN,NaN,NaN,5.0,4.0,5.0,5.0,NaN,4.0,5.0,5.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0,5.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0,5.0,NaN,5.0
188,3.0,2.0,4.0,3.0,3.0,3.0,4.0,2.0,NaN,4.0,4.0,4.0,NaN,3.0,5.0,NaN,3.0,4.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,NaN,2.0,4.0,3.0,4.0,4.0,3.0,3.0,3.0,NaN,3.0,4.0,3.0,4.0,NaN,3.0,3.0,NaN,NaN,4.0,3.0,3.0,4.0,3.0,4.0,3.0,NaN,NaN,3.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,3.0,4.0,NaN,3.0,4.0,NaN,4.0,NaN,3.0,NaN,NaN,3.0,3.0,NaN,4.0,4.0,NaN,3.0,NaN,NaN,4.0,NaN,4.0,3.0,5.0,3.0,NaN,4.0,3.0,4.0,5.0,4.0,4.0,4.0,3.0,NaN,NaN,5.0,NaN,4.0,3.0,3.0,4.0,4.0,3.0,3.0,3.0,3.0,NaN,4.0,4.0,5.0,3.0,NaN,5.0,3.0,4.0,3.0,5.0,NaN,NaN,4.0,3.0,2.0,4.0,4.0,NaN,NaN,3.0,3.0,4.0,4.0,NaN,NaN,3.0,NaN,2.0,NaN,4.0,4.0,4.0,4.0,5.0,NaN,4.0,4.0,3.0,4.0,NaN,5.0,NaN,NaN,3.0,3.0
199,4.0,4.0,5.0,NaN,4.0,4.0,4.0,3.0,NaN,4.0,4.0,4.0,NaN,NaN,5.0,NaN,NaN,NaN,5.0,5.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,5.0,5.0,3.0,5.0,NaN,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,NaN,5.0,5.0,NaN,NaN,4.0,NaN,NaN,4.0,4.0,4.0,NaN,NaN,NaN,NaN,5.0,4.0,4.0,4.0,NaN,4.0,4.0,4.0,5.0,3.0,4.0,5.0,3.0,4.0,5.0,3.0,NaN,NaN,4.0,5.0,4.0,4.0,4.0,NaN,4.0,4.0,5.0,3.0,4.0,NaN,4.0,NaN,NaN,3.0,NaN,NaN,NaN,3.0,5.0,5.0,NaN,4.0,5.0,4.0,4.0,5.0,3.0,2.0,3.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,NaN,NaN,4.0,NaN,NaN,NaN,3.0,4.0,4.0,4.0,NaN,3.0,NaN,4.0,NaN,4.0,5.0,NaN,4.0,3.0,4.0,4.0,5.0,NaN,4.0,5.0,NaN,NaN,4.0,4.0,3.0,4.0,4.0,4.0,5.0,4.0,4.0,NaN,5.0,4.0,5.0,5.0,3.0,4.0,NaN
602,5.0,5.0,4.0,5.0,5.0,4.0,4.0,NaN,NaN,4.0,4.0,5.0,3.0,NaN,5.0,NaN,5.0,NaN,3.0,5.0,5.0,NaN,NaN,5.0,5.0,5.0,NaN,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,NaN,3.0,5.0,NaN,NaN,NaN,5.0,4.0,NaN,NaN,NaN,5.0,4.0,5.0,4.0,4.0,NaN,3.0,NaN,5.0,4.0,NaN,4.0,5.0,NaN,NaN,5.0,5.0,2.0,NaN,5.0,5.0,NaN,5.0,NaN,4.0,NaN,NaN,NaN,3.0,4.0,5.0,5.0,NaN,NaN,4.0,NaN,3.0,NaN,4.0,NaN,5.0,4.0,3.0,5.0,5.0,NaN,3.0,5.0,3.0,5.0,5.0,5.0,5.0,NaN,3.0,4.0,3.0,4.0,3.0,5.0,4.0,NaN,NaN,5.0,4.0,NaN,5.0,5.0,5.0,4.0,4.0,5.0,5.0,4.0,5.0,4.0,NaN,5.0,5.0,NaN,3.0,5.0,NaN,4.0,4.0,5.0,2.0,NaN,NaN,NaN,5.0,NaN,4.0,NaN,NaN,3.0,NaN,5.0,4.0,NaN,NaN,5.0,4.0,5.0,4.0,5.0,NaN,4.0,4.0,4.0
1333,1.0,3.0,4.0,2.0,4.0,2.0,3.0,4.0,3.0,2.0,2.0,4.0,3.0,1.0,4.0,3.0,3.0,4.0,3.0,5.0,1.0,2.0,NaN,4.0,4.0,NaN,1.0,3.0,5.0,4.0,2.0,5.0,3.0,1.0,3.0,2.0,2.0,3.0,NaN,3.0,3.0,2.0,3.0,NaN,NaN,5.0,4.0,3.0,2.0,2.0,4.0,2.0,1.0,2.0,3.0,NaN,3.0,2.0,4.0,2.0,1.0,4.0,2.0,2.0,2.0,4.0,NaN,NaN,2.0,2.0,4.0,2.0,3.0,5.0,1.0,4.0,3.0,NaN,NaN,2.0,1.0,2.0,1.0,1.0,4.0,3.0,2.0,3.0,3.0,4.0,3.0,1.0,3.0,4.0,3.0,4.0,3.0,NaN,4.0,4.0,1.0,2.0,1.0,2.0,4.0,3.0,2.0,2.0,NaN,4.0,2.0,NaN,3.0,5.0,3.0,1.0,2.0,NaN,2.0,2.0,5.0,4.0,1.0,3.0,2.0,2.0,2.0,3.0,NaN,NaN,4.0,NaN,4.0,NaN,NaN,2.0,3.0,NaN,3.0,3.0,3.0,1.0,4.0,3.0,3.0,NaN,3.0,NaN,4.0,3.0,NaN,5.0,3.0,2.0,4.0,4.0
1442,5.0,4.0,5.0,5.0,3.0,4.0,4.0,5.0,NaN,4.0,5.0,5.0,5.0,NaN,5.0,NaN,5.0,5.0,NaN,NaN,NaN,4.0,NaN,5.0,3.0,5.0,NaN,NaN,5.0,4.0,NaN,5.0,4.0,4.0,NaN,NaN,4.0,5.0,NaN,5.0,NaN,NaN,5.0,NaN,NaN,5.0,NaN,NaN,4.0,NaN,NaN,5.0,NaN,4.0,4.0,4.0,5.0,5.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,3.0,5.0,NaN,NaN,5.0,4.0,NaN,4.0,5.0,NaN,4.0,5.0,5.0,5.0,NaN,5.0,NaN,4.0,NaN,4.0,NaN,5.0,5.0,5.0,5.0,NaN,5.0,5.0,2.0,5.0,NaN,5.0,NaN,NaN,5.0,3.0,5.0,3.0,4.0,NaN,5.0,4.0,NaN,NaN,5.0,NaN,4.0,5.0,5.0,5.0,5.0,5.0,NaN,4.0,4.0,5.0,NaN,3.0,4.0,4.0,4.0,NaN,5.0,5.0,4.0,5.0,4.0,4.0,4.0,NaN,4.0,4.0,NaN,3.0,NaN,5.0,4.0,5.0,4.0,5.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0,5.0,4.0,NaN,5.0
1457,4.0,NaN,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,3.0,NaN,3.0,NaN,4.0,4.0,NaN,5.0,4.0,4.0,NaN,4.0,4.0,NaN,4.0,NaN,3.0,4.0,5.0,3.0,3.0,5.0,4.0,4.0,NaN,NaN,NaN,4.0,NaN,3.0,NaN,3.0,3.0,NaN,4.0,NaN,3.0,NaN,4.0,3.0,3.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3.0,4.0,NaN,3.0,4.0,NaN,NaN,4.0,4.0,5.0,4.0,3.0,3.0,5.0,3.0,NaN,NaN,5.0,5.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,4.0,5.0,3.0,4.0,4.0,4.0,NaN,5.0,4.0,2.0,1.0,3.0,4.0,NaN,4.0,NaN,NaN,3.0,NaN,NaN,NaN,3.0,NaN,NaN,3.0,NaN,3.0,4.0,4.0,NaN,3.0,4.0,4.0,NaN,4.0,NaN,NaN,4.0,3.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0,NaN,4.0,4.0,3.0,4.0,4.0,4.0,4.0,NaN,4.0,NaN,3.0,3.0,NaN
1500,4.0,3.0,4.0,4.0,4.0,2.0,3.0,5.0,NaN,4.0,5.0,4.0,4.0,NaN,4.0,4.0,5.0,NaN,NaN,NaN,3.0,4.0,5.0,5.0,5.0,3.0,NaN,5.0,4.0,3.0,5.0,NaN,5.0,NaN,4.0,3.0,NaN,NaN,NaN,4.0,NaN,5.0,4.0,NaN,NaN,5.0,5.0,4.0,3.0,5.0,5.0,NaN,4.0,NaN,3.0,4.0,3.0,3.0,5.0,4.0,3.0,3.0,4.0,4.0,3.0,5.0,4.0,NaN,NaN,4.0,4.0,NaN,4.0,5.0,NaN,5.0,5.0,3.0,NaN,2.0,4.0,3.0,2.0,NaN,3.0,4.0,4.0,NaN,3.0,5.0,4.0,5.0,5.0,4.0,5.0,NaN,3.0,NaN,5.0,NaN,4.0,4.0,3.0,NaN,NaN,4.0,4.0,NaN,NaN,3.0,NaN,5.0,5.0,5.0,5.0,3.0,3.0,NaN,4.0,5.0,5.0,4.0,NaN,4.0,4.0,3.0,5.0,5.0,NaN,4.0,4.0,4.0,5.0,3.0,NaN,4.0,5.0,NaN,3.0,NaN,4.0,4.0,5.0,5.0,4.0,NaN,4.0,5.0,4.0,4.0,3.0,5.0,4.0,4.0,4.0,4.0

In [20]:
# Pivot, to prepare to correlate columns
corr_df = movies_watched_df_pivot.transpose()

In [21]:
# Data cleaning: corrwith ignores NaN
corr_df2 = corr_df.corrwith(corr_df[random_id], method='pearson')
# running time: 2 secs

In [22]:
# Unsorted
corr_df2.head(10)

CustomerID
7       0.413260
79      0.109080
134     0.194939
188     0.226901
199     0.261744
602     0.068084
1333    0.298962
1442   -0.002107
1457    0.173323
1500    0.310531
dtype: float64

In [23]:
# Sanity check: Count of unique users with sufficient 
# overlap matches length of user_same_movies above
corr_df3 = corr_df2.sort_values(ascending=False).drop_duplicates()
corr_df3.shape

(24324,)

In [24]:
# Sanity check: only random_id has correlation 
# coefficient of 1; only random_id with small
# count of ratings would have correlation
# coefficients approaching 0.8
corr_df3.head(10)

CustomerID
531050     1.000000
1180814    0.589639
1726783    0.565858
31387      0.546136
2444333    0.517946
1688893    0.508165
1500471    0.507394
1158943    0.505248
1683765    0.505033
1352424    0.504831
dtype: float64

In [25]:
# Uninteresting formatting
# Convert series to dataframe
corr_df4 = corr_df3.to_frame()

In [26]:
# Check: formatting
corr_df4.rename(columns={0:'corr'}, inplace=True )
corr_df4.head(10)

                corr
CustomerID
531050      1.000000
1180814     0.589639
1726783     0.565858
31387       0.546136
2444333     0.517946
1688893     0.508165
1500471     0.507394
1158943     0.505248
1683765     0.505033
1352424     0.504831

In [27]:
##########################################################
##### Correlation coefficient threshold applied here #####
##########################################################
# Pull off users that are highly correlated in ratings
# True would prevent CustomerID index from being retained as a column
corr_df5 = corr_df4.drop(axis=0, index = random_id)
top_users = corr_df5[(corr_df5["corr"] >= rho_thresh)]
top_users.head(10)

                corr
CustomerID
1180814     0.589639
1726783     0.565858
31387       0.546136
2444333     0.517946
1688893     0.508165
1500471     0.507394
1158943     0.505248
1683765     0.505033
1352424     0.504831
454635      0.504631

In [28]:
top_users.size

# Number of users left after applying movie-overlap and rating-correlation filters
# Compare to max_value above

301

In [29]:
# Uninteresting reformatting
top_users.reset_index(drop=False, inplace=True)

# Check: format to use isin(): sequential index, two labeled columns
top_users.head(10)

   CustomerID      corr
0     1180814  0.589639
1     1726783  0.565858
2       31387  0.546136
3     2444333  0.517946
4     1688893  0.508165
5     1500471  0.507394
6     1158943  0.505248
7     1683765  0.505033
8     1352424  0.504831
9      454635  0.504631

In [30]:
# top_users['CustomerID'].astype(int)
# similar_users_df['CustomerID'].astype(int)
# top_users.dtypes

In [31]:
# Pull off all highly correleted highly overlapping users from original dataframe with full detail
similar_users_df2 = similar_users_df[similar_users_df['CustomerID'].isin(top_users['CustomerID'])]
similar_users_df2.head(10)

        index  Movie_Id  CustomerID  Rating        Date
626  53625377      9756           7       4  2005-05-23
627  61339957     11182           7       5  2004-06-09
628   8233216      1645           7       4  2005-05-23
629  19688511      3756           7       3  2004-09-27
630  42722880      7586           7       4  2004-09-27
631  26180669      4874           7       5  2005-10-30
632  74113383     13433           7       4  2005-05-23
633  32095365      5843           7       5  2005-05-23
634  30326544      5544           7       3  2005-05-23
635  69606649     12605           7       4  2005-05-23

In [32]:
# Merge in correlation coefficient dictionary, for later credibility weighting of ratings
# merge is preferred to concat for columns
similar_users_df3 = pd.merge(similar_users_df2, top_users, how='inner')
similar_users_df3.head(10)

      index  Movie_Id  CustomerID  Rating        Date     corr
0  53625377      9756           7       4  2005-05-23  0.41326
1  61339957     11182           7       5  2004-06-09  0.41326
2   8233216      1645           7       4  2005-05-23  0.41326
3  19688511      3756           7       3  2004-09-27  0.41326
4  42722880      7586           7       4  2004-09-27  0.41326
5  26180669      4874           7       5  2005-10-30  0.41326
6  74113383     13433           7       4  2005-05-23  0.41326
7  32095365      5843           7       5  2005-05-23  0.41326
8  30326544      5544           7       3  2005-05-23  0.41326
9  69606649     12605           7       4  2005-05-23  0.41326

## __Parameter selection__

The goal is to whittle down the initial 20 million records to about half a million. If the output is far fewer, the filter parameters for correlation and movie count can be lowered and raised respectively and the program restarted *after* the point at which *user_id* is generated.

Note that if *user_id* has rated few movies (less than 100), correlation coefficients can be extreme, either very high (approaching 0.8) or very low (never higher than 0.25).

While high $\rho$ may be misleading in cases of small movie counts, the *relative* values between users are what would used for credibility weighting, i.e., the use of including correclation coefficients in the output file is to differentiate credibility of different users' ratings in predicting *user_id*'s taste.

In [33]:
# Sanity check: sufficient number of ratings left (millions? 20,000 is too low)
similar_users_df3.shape

(261375, 6)

In [34]:
similar_users_df3.sort_values('corr', ascending=False).head()

           index  Movie_Id  CustomerID  Rating        Date      corr
110491  26568745      4951     1180814       4  2004-09-14  0.589639
110241  41389649      7330     1180814       4  2005-06-22  0.589639
110243  41873408      7399     1180814       4  2004-10-19  0.589639
110244  11996678      2340     1180814       3  2005-01-19  0.589639
110245  44753784      7937     1180814       4  2004-10-19  0.589639

In [35]:
top_users

     CustomerID      corr
0       1180814  0.589639
1       1726783  0.565858
2         31387  0.546136
3       2444333  0.517946
4       1688893  0.508165
5       1500471  0.507394
6       1158943  0.505248
7       1683765  0.505033
8       1352424  0.504831
9        454635  0.504631
10      1691319  0.500023
11      1849234  0.499601
12      1684165  0.497610
13      1787399  0.487708
14      1617200  0.484716
15      1536171  0.481352
16      1770708  0.480802
17      1504230  0.480049
18      1419103  0.476128
19        56803  0.472655
20      1646639  0.472328
21       512117  0.471765
22        53406  0.471700
23      1816425  0.471643
24       261151  0.469889
25       208012  0.469349
26       373416  0.468629
27      1964725  0.468292
28      2421395  0.465470
29      1586341  0.462988
30      1772651  0.462153
31       458215  0.461743
32      1964421  0.461209
33        52664  0.461013
34       136030  0.459763
35      2211071  0.459175
36      1438269  0.459076
37      1532775  0.458670
38       833773  0.458487
39      1711526  0.458444
40       410421  0.458259
41      1524178  0.458102
42      1538317  0.457589
43       903054  0.457462
44        25693  0.456665
45      1555812  0.456343
46      1582905  0.456211
47      1035785  0.454963
48       785166  0.454734
49      1422656  0.454346
50      1388503  0.454059
51       336411  0.453105
52       173220  0.453048
53      1832225  0.452170
54      1108408  0.452010
55      2407208  0.451019
56      1972705  0.450161
57      2316783  0.449261
58        58487  0.448981
59      1088217  0.448876
60      1787640  0.448423
61      1940669  0.448080
62       138549  0.447392
63      2064078  0.446738
64      2569258  0.445787
65      2570496  0.444660
66      1019999  0.443658
67       324541  0.443416
68      2379494  0.443374
69      1865963  0.443314
70       610997  0.443214
71      1114331  0.443180
72      1197043  0.442712
73      2212002  0.442292
74       900992  0.441899
75       731565  0.441769
76      1889279  0.441319
77       872028  0.441121
78      2465266  0.440946
79       370806  0.440623
80       913581  0.440558
81      2263800  0.440017
82      1964336  0.439588
83      2263831  0.439448
84       451958  0.438849
85      1585116  0.438818
86       804442  0.438457
87      1421149  0.437865
88      2114918  0.437736
89      2449295  0.437528
90       612865  0.437319
91       835269  0.436323
92      1950710  0.436209
93       728074  0.435315
94      1340872  0.435177
95       414604  0.434493
96      1125126  0.434363
97       231329  0.434060
98      1495111  0.433950
99      2363481  0.433418
100     1193468  0.433216
101     2434606  0.432747
102     1340377  0.432717
103     1000596  0.432683
104      365955  0.432467
105      806045  0.432124
106      372289  0.430947
107     1744939  0.430672
108     1726869  0.430652
109     2585062  0.430534
110     2213625  0.430234
111     2062246  0.429944
112      863002  0.429941
113     1309839  0.429702
114      672358  0.429656
115      150525  0.429483
116      963711  0.429414
117     1391510  0.429238
118      501511  0.428722
119     2480001  0.427820
120      526953  0.427721
121      701908  0.427532
122     2411778  0.427069
123     2376801  0.427058
124     1333196  0.426908
125     2396611  0.426776
126     1168783  0.426549
127     2095101  0.426447
128      264234  0.425835
129      319513  0.425654
130     2578656  0.425617
131     2492103  0.425525
132      673619  0.425442
133     1656117  0.424956
134     2329296  0.424824
135     1690961  0.424234
136      953749  0.423867
137      864068  0.423664
138      502086  0.423140
139     1426317  0.423093
140      508042  0.423074
141      453167  0.422662
142     2153706  0.422553
143      310870  0.422198
144     2211647  0.422089
145      974174  0.421738
146      807045  0.421277
147       82645  0.420387
148      235782  0.420059
149     2473258  0.419932
150      255988  0.419913
151      783863  0.419834
152     1460800  0.419816
153     1469211  0.419627
154     1941360  0.419489
155      961789  0.419434
156      872323  0.419211
157      550573  0.418941
158     1980349  0.418781
159     1388542  0.418725
160      922551  0.418687
161      350904  0.418683
162     1887120  0.418645
163     1023512  0.418301
164      513933  0.418276
165     1316922  0.418152
166      641754  0.418031
167      599856  0.417904
168      722980  0.417442
169     1082290  0.417332
170     2208809  0.417282
171     2017438  0.417262
172     2295321  0.417030
173     1458042  0.416849
174      757556  0.416714
175      184514  0.416673
176      916669  0.416665
177     1537599  0.415841
178      333417  0.415548
179      189884  0.415269
180      995459  0.415057
181     1280726  0.414934
182     2123382  0.414902
183     2271249  0.414847
184     2570211  0.414826
185     1731764  0.414810
186     2529548  0.414694
187      327691  0.414665
188     1716604  0.414515
189     1089335  0.414383
190     1854584  0.414301
191      436122  0.414274
192     2022868  0.414062
193     1967891  0.413955
194     2295875  0.413496
195     1365379  0.413392
196           7  0.413260
197     1943106  0.413240
198     1783491  0.412944
199     1244059  0.412885
200      335839  0.412807
201     1144508  0.412794
202     2043935  0.412754
203     1617268  0.412669
204     2001099  0.412587
205     1899708  0.412452
206     2472909  0.412310
207       80445  0.412271
208      217708  0.412231
209      173583  0.412171
210      458177  0.412092
211      977563  0.412047
212     1357202  0.411930
213     1012312  0.411911
214     1354763  0.411672
215      728891  0.411590
216       12582  0.411587
217      540807  0.411545
218      829946  0.411405
219     1805205  0.411296
220      676278  0.411230
221     1341723  0.411061
222     2464325  0.410922
223      471307  0.410705
224      726534  0.410668
225     1522685  0.410386
226     2025737  0.410337
227       49330  0.410217
228     1494424  0.410167
229      443336  0.410144
230       47747  0.410042
231     1047147  0.409763
232     1729597  0.409743
233     2293635  0.409637
234     1002504  0.409522
235     2221070  0.408935
236     1791666  0.408834
237      662412  0.408795
238     1512936  0.408687
239     2477965  0.408421
240     2626987  0.408375
241     1652623  0.408258
242     1048629  0.408193
243      820416  0.407996
244      759944  0.407933
245     1187089  0.407788
246     1755144  0.407779
247     2091461  0.407433
248     1647370  0.407398
249      108780  0.407326
250     2632910  0.407052
251     1492162  0.406927
252     2186084  0.406615
253      175371  0.405961
254     2497515  0.405661
255     1644712  0.405607
256      352768  0.405484
257     2204444  0.405132
258     2282510  0.405084
259     2561891  0.405063
260      728801  0.405044
261     1821747  0.404916
262     1182659  0.404869
263     1320175  0.404841
264     1150643  0.404388
265      326804  0.404351
266     1841903  0.404333
267      710801  0.404266
268      268049  0.404257
269     1098765  0.404124
270     1627955  0.403841
271     1735557  0.403624
272      583142  0.403589
273     1532336  0.403506
274     1583311  0.403275
275     1772500  0.403160
276     1123455  0.402875
277      248976  0.402819
278     1060735  0.402811
279     1641911  0.402803
280     1646383  0.402687
281     1609417  0.402365
282     1630758  0.402180
283      295035  0.401940
284     1750461  0.401871
285     1794461  0.401702
286     2133694  0.401644
287     2381884  0.401640
288      498504  0.401421
289     2293736  0.401333
290      248362  0.401226
291      785931  0.401003
292     2522503  0.400972
293     1599862  0.400896
294     1802028  0.400725
295     2299951  0.400634
296     2368458  0.400429
297      815953  0.400317
298     1970237  0.400244
299     1462537  0.400228
300     1811432  0.400051

In [36]:
similar_users_df3.to_csv("../data/rating_corr.csv",header=True, index=False)

#### References:

https://medium.com/codex/hybrid-recommender-system-netflix-prize-dataset-e9f6b4a875aa

https://www.kaggle.com/code/ayseymn/hybrid-recommender-system-netflix/notebook